*{
    padding: 0;
    /*! margin: 0; */
    box-sizing: border-box;
   
    
    /*! font-family: "Verdana", sans-serif; */
}

img{
    max-width: 100%;
    border-radius: 12px;
    box-shadow: rgba(255, 255,255, 0.15) 0px 48px 100px 0px;
}

hr{
    width: 100%;
    background: white;
}

blockquote {
  background: #181818;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  border-radius: 3px;
  
}

blockquote p {
  display: inline;
}


body{
    font-family: "Verdana", sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.2px;
    font-size: 1rem;
    background: #121212;
    color: #d7d7d7;
    display: flex;
    flex-direction: column;
    max-width: 48rem;
    margin: auto;
}

.pagetitle{
    display: flex;
    justify-content:center;
}

pre{
    background: #2e3440;
    border-radius: 12px;
    padding-left: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
pre::-webkit-scrollbar {
  display: none;
}

code{
    font-family: "Courier New",monospace;
    border-radius: 5px;
    padding: 2px;
    background: #2e3440;
}

.meta{
   display: flex;
   max-width: 60%;
   flex-direction: column;
   margin: 10px;
}

body a{
  color:white;
  text-decoration: none;
}
.parent a{
color: #437DAD;
}
footer a{
    color: #437DAD;
}
.parent a::before{
    content: '#';
}
.parent a:hover{
  font-weight: 450;
  color:cyan;
}

.masthead {
    font-size: 24px;
    font-weight: bold;
    min-width: 70%;
    font-family: "Courier New",monospace;
    display: flex;
    align-items: center;
}

nav li{
    display: inline;
}

nav {
    display: flex;
    align-items: center;
}
.meta ul li{
    display: inline;
}

header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Verdana", sans-serif;
}
.parent{
    display: flex;
    /*! justify-content: center; */
    min-height: 75vh;
    flex-direction: column;
    align-items: center;
}

p { 
    margin: 1em 0;
    line-height: 1.5em;
}

h2, h1 {
    margin: 1.2em 0 0.6em 0;
}

.title{
    display:flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0;
    max-height: 10%;
}

.entry{
    border-radius: 12px;
padding: 25px;
display: flex;
flex-direction: column;
margin: 20px;
background: #222;
box-shadow: rgba(0, 0,0, 0.2) 0px 48px 100px 0px;
border: 2px solid #141414;
   
}

.content{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: 20px;
    min-height: 70%;
    width:100%;
}

footer {
    width: 100%;
    flex: 0;
    font-size: 0.9rem;
    align-self: center;
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
}

@media (max-width: 600px) {
	html { font-size: 0.7rem; }
    code {border-radius:0.5em}
    body{font-size: 1.2rem;}
    footer{font-size: 1.1rem;}
    .parent{padding:15px;}
    pre {border-radius: 0.5em;}
    nav { display: flex;align-items: center;}
    .masthead{}
}

BODY {
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

.keyword {
  color: #FF9D00; /* Sonokai Orange */
  font-weight: bold;
}

.string {
  color: #A5C26B; /* Sonokai Green */
}

.comment {
  color: #708090; /* Sonokai Gray */
  font-style: italic;
}

.number {
  color: #A5C26B; /* Sonokai Green */
}

.type {
  color: #76ccE0; /* Sonokai White */
  text-decoration: underline;
}

.preproc {
  color: #D30102; /* Sonokai Red */
}

.function {
  color: #FC5D7C; /* Sonokai White */
  font-weight: bold;
}

.normal {
  color: #9ED072; /* Sonokai White */
}

.symbol {
  color: #9ED072; /* Sonokai White */
}

.cbracket {
  color: #E2E2E3; /* Sonokai White */
}

