body{
  font-family: ariai,sans-serif;
  justify-content: center;
  display: flex;
  margin: 0;
  color: white;
  min-height: 100vh;
  background: #000;
  border: 2px solid blue;
  flex-direction: column;
}
.innerbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  border: 2px solid green;
}
.header1{
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  border: 2px solid red;
  justify-content: center;
  flex-shrink: 0;
}
.headerflex{
  display : flex;
  width : 800px;
  justify-content: space-between;
  align-items: center;
  height: 69px;
}

.name{
  font-family: "Courier New",monospace;
  font-weight: bold;
  font-size: 24px;
}
.nav li{
  display: inline;
}
.status{
  border: 2px solid white;
  display :flex;
  justify-content:center;
  align-items: center;
}
