<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><!--title--></title>
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="masthead">
                <a href="/rendered/index.html">[NARAYAN]</a>
            </div>
            <nav>
                <ul>
                    <li><a href="/rendered/about.html">[about]</a></li>
                    <li><a href="/rendered/list.html">[blogs]</a></li>
                </ul>
            </nav>
        </header>
        <div class="parent">
        <div class="content">
            <img src="<!--image-->" alt="PICTURE">
            <div class="imgdesc"><em><!--imgdesc--></em></div>
            <!--BODY-->
        </div>
        </div>
    </body>
    <footer>Rendered with ⚡ using <a href="https://github.com/vortex73/ludicrosity">ludicrosity</a></footer>
</html>
