<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sriprad Potukuchi</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<header>
			<img class="pfp" src="/res/pfp.svg" alt="pfp">
			<div class="name">
				<h3>Sriprad Potukuchi</h3>
				<span>@procub3r</span>
			</div>
		</header>
		<main>
<!--title-->
<!--tags-->
<!--BODY-->
		</main>
		<footer>
			<span>&#169; 2024 Sriprad Potukuchi</span>
			<a href="https://github.com/procub3r/procub3r.github.io">website source</a>
		</footer>
	</body>
</html>

